*.class
*.log

# sbt specific
.bsp
sbt.json
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ Specific
.idea
*.iml

# Scala-IDE specific
.scala_dependencies
.worksheet
