language: scala
scala:
  - 2.11.12
jdk:
  - openjdk8

script:
  - sbt clean coverage test \
    +play26-json-tests-sc13/test \
    coverageReport && sbt coverageAggregate
after_success:
  # Upload coverage reports to codecov.io
  - bash <(curl -s https://codecov.io/bash) -t 24961df6-494e-4024-b035-ad2aca2ed706

  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
